# Project 3: OpenStreetMap Data Wrangling with SQL

Name: Ravi Verma

Map Area: New Delhi, India.

https://www.openstreetmap.org/relation/2763541

I used New Delhi's data because, I used to live there.

# 1. Data Audit

There were diffrent types of tags present in the XML file. So, I parse the New Delhi,India dataset using ElementTree and counted the number of the unique tags. ```python mapparser.py``` is used to count the numbers of unique tags.

```python
{'bounds': 1,
 'member': 28525,
 'nd': 4240820,
 'node': 3429702,
 'osm': 1,
 'relation': 6231,
 'tag': 830205,
 'way': 696002}
 ```

#### Patterns in the Tags

The "k" value of each tag contain different patterns. 
Using ```python tags.py```, I created 3 regular expressions to check for certain patterns in the tags. 

I have counted each of four tag categories.

```python 
{'lower': 813964, 'lower_colon': 15814, 'other': 421, 'problemchars': 6}
```

"lower" : for tags that contain only lowercase letters and are valid,  
"lower_colon" : for otherwise valid tags with a colon in their names,  
"problemchars" : for tags with problematic characters, and  
"other" : for other tags that do not fall into the other three categories.

# 2. Problems Encountered in Dataset

The major problems that we faced in the dataset were name inconsistencies. The street names as well as city names were wrong or misspelled.  
By using `audit.py`, we corrected the names of street and city.

##### Abbreviations
`Rd. : Road`  
`Ave. : Avenue`  
`Res. : Residential`   
`Indl : Industrial`  

##### Lower Cases
`new dlehi : New Delhi`  
`newdelhi : New Delhi`  
   
##### Native Language Name
`Nayi Dilli to New Delhi`  
`Rasta : Road`  
   
##### Misspelling
`Socity : Society`  


There were some other errors present in datasets
1. there were some entries of area without posal code (missing key for codes) becasue the street name had the pince along with it's name.

for e.g. `New Delhi- 110024`

2. Key 'k' of some nodes had values in different languages such as Hindi, Urdu for e.g. `v="नई दिल्ली"`, `v="دهلی نو"` , `v="ಹೊಸ ದೆಹಲಿ"`

# 3. Data Overview

### Total number of nodes

```SQL
select count(id) from nodes;
```

##### Output:  
```SQL
3429702
```

### Total number of ways

```SQL
select count(*) from ways;
```

##### Output:  
```SQL
696002
```

### Total number of users

```SQL
select count(*) No_of_unique_users from (select distinct uid from nodes union select distinct uid from ways);
```

##### Output:  
```SQL
1557
```

### Top 5 Contibuters

```SQL
SELECT user, count(*) as contribution from (select user from nodes union all select user from ways) 
group by user order by contribution desc limit 5;
```

##### Output:  
```SQL
"Oberaffe"	"270149"
"premkumar"	"164029"
"saikumar"	"159904"
"Naresh08"	"136219"
"anushap"	"133366"
```


First Column is User and second column is number of contribution.

# 4. Additional Data Exploration

### Top cuisines

```SQL
SELECT value, COUNT(*) as num
FROM nodes_tags
JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value='restaurant') tab
ON nodes_tags.id=tab.id
WHERE key='cuisine'
GROUP BY nodes_tags.value
ORDER BY num DESC;
```

##### Output:
```SQL
"indian"	"25"
"regional"	"11"
"pizza"	"8"
"North_Indian"	"5"
"chinese"	"5"
"vegetarian"	"5"
"burger"	"4"
"korean"	"2"
"local"	"2"
"sandwich"	"2"

```

### Most common Amenities

```SQL
SELECT value, COUNT(*) as quantity FROM nodes_tags
WHERE key='amenity' GROUP BY value
ORDER BY quantity DESC LIMIT 10;
```

##### Output:
```SQL
"restaurant"	255
"atm"	229
"fuel"	228
"place_of_worship"	204
"bank"	189
"school"	165
"fast_food"	135
"parking"	93
"hospital"	88
"cafe"	87

```

### Top 10 node types

```SQL
select b.type, count(distinct a.id) from nodes a 
inner join nodes_tags b on a.id = b.id 
group by 1 order by 2 desc limit 10;
```

##### Output
```SQL
"regular"	26682
"addr"	2148
"name"	657
"shop"	329
"tower"	278
"brand"	105
"source"	33
"building"	13
"generator"	12
"is_in"	12
```

### Other Ideas

The dataset is mostly populated by user and the process is manual, so human mistakes are inevitable.
So to improve the quality of data set, we should provie users some options, for e.g. if a user want to add value for a town starting with letter 'S', it should show a list of all the towns present with S. This will make a significant shange in dataset. People wil have preset values, which will reduce the errors.
Implemnttion of the above idea has some drawbacks, if a entry is made which is not present in the preset list of values, then we don't know if the enty made for that value is correct or not.

# Conclusion

New Delhi area dataset is quite big and has many inconsistencies. It had wrong and misspelled name of city, street.
The dataset was cleaned and exploration was done using SQL. Idea for improving the quality if dataset was also given.

# Files

new-delhi_indai.osm ------------------ 720  MB
delhi1.db ---------------------------- 518  MB
nodes.csv ---------------------------- 272  MB
nodes_tags.csv ----------------------- 1.52 MB
ways.csv ----------------------------- 40.2 MB
ways_tags.csv ------------------------ 24.4 MB
ways_nodes.csv ----------------------- 97.3 MB
new-delhi_india_samle.osm ------------ 72.8 MB